<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

        <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

        <meta name="author" content="{{ site.author.name }}" />

        {% if page.description %}
        <meta name="description" content="{{ page.description }}">
        {% endif %}

        <link rel="alternate" type="application/rss+xml" title="{{ site.title }} - {{ site.description }}" href="{{ site.baseurl }}/atom.xml" />

        <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/assets/css/main.css" />
        <link rel="stylesheet" href="/assets/css/fonts.css" />

        <link href="/node_modules/@fortawesome/fontawesome-free/css/fontawesome.css" rel="stylesheet">
        <link href="/node_modules/@fortawesome/fontawesome-free/css/brands.css" rel="stylesheet">
        <link href="/node_modules/@fortawesome/fontawesome-free/css/solid.css" rel="stylesheet">

        <!-- Highlight.js -->
        <link rel="stylesheet" href="/assets/css/prism.css">
        <script src="/assets/js/prism.js"></script>

        <!-- Facebook OpenGraph tags -->
        <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="{{ site.url }}{{ page.url }}/" />
        {% if page.share-img %}
        <meta property="og:image" content="{{ page.share-img }}" />
        {% elseif site.avatar %}
        <meta property="og:image" content="{{ site.url }}{{ site.avatar }}" />
        {% else %}
        <meta property="og:image" content="" />
        {% endif %}

        <!-- @see https://matthiasott.com/notes/highlighting-blogging-on-mastodon -->
        <meta property="fediverse:creator" content="@odolbeau@mastodon.social" />

        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
    </head>

    <body>

        <nav class="navbar navbar-default navbar-fixed-top navbar-custom">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">{{ site.title }}</a>
                </div>

                <div class="collapse navbar-collapse" id="main-navbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/">About me</a></li>
                        <li><a href="/blog">Blog</a></li>
                        <li><a href="/talks">Talks</a></li>
                        <li><a href="mailto:{{ site.author.email }}">Contact</a></li>
                        <li><a href="/cv.pdf">CV <i class="fas fa-download"></i></a></li>
                    </ul>
                </div>

                <div class="avatar-container">
                    <div class="avatar-img-border">
                        <a href="/">
                            <img class="avatar-img" src="/assets/images/avatar-icon.png" />
                        </a>
                    </div>
                </div>

            </div>
        </nav>

        {% block header '' %}

        <div role="main" class="container">
            {% block content_wrapper %}{% block content %}{% endblock %}{% endblock %}
        </div>

        <footer>
            <div class="container beautiful-jekyll-footer">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                        <ul class="list-inline text-center footer-links">
                            <li>
                                <a href="https://github.com/{{ site.author.github }}" title="GitHub">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa-solid fa-circle fa-stack-2x"></i>
                                        <i class="fa-brands fa-github fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="mailto:{{ site.author.email }}" title="Email me">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa-solid fa-circle fa-stack-2x"></i>
                                        <i class="fa-solid fa-envelope fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a rel="me" href="https://mastodon.social/@odolbeau" title="Mastodon">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa-solid fa-circle fa-stack-2x"></i>
                                        <i class="fa-brands fa-mastodon fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="https://stackoverflow.com/users/{{ site.author.stackoverflow }}" title="StackOverflow">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa-solid fa-circle fa-stack-2x"></i>
                                        <i class="fa-brands fa-stack-overflow fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="{{ site.url }}/atom.xml" title="RSS">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa-solid fa-circle fa-stack-2x"></i>
                                        <i class="fa-solid fa-rss fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                        </ul>
                        <p class="copyright text-muted">
                            Olivier Dolbeau
                            &nbsp;&bull;&nbsp;
                            {{ site.time | date('Y') }}

                            &nbsp;&bull;&nbsp;
                            <a href="{{ site.url }}">odolbeau.fr</a>
                        </p>
                        <p class="theme-by text-muted">
                            Blog powered by
                            <a href="https://sculpin.io/">sculpin</a> -
                            Original theme by
                            <a href="http://deanattali.com/beautiful-jekyll/">beautiful-jekyll</a>
                        </p>
                    </div>
                </div>
            </div>
        </footer>

        <script src="/assets/js/jquery-1.11.2.min.js"></script>
        <script src="/assets/js/bootstrap.min.js"></script>
        <script src="/assets/js/main.js"></script>

    </body>
</html>
