{% extends 'default' %}

{% block header %}
<header class="header-section">
    <div class="intro-header no-img">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="talk-heading">
                        <h1>{{ page.title }}</h1>
                        <hr class="small">
                        <span class="talk-subheading">At {{ page.event }} on {{ page.date | date("F d, Y") }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block content_wrapper %}
<div class="container" role="main">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <script
                async
                class="speakerdeck-embed"
                data-id="{{ page.speakerdeck }}"
                data-ratio="{{ page.ratio | default("1.3333333333333333") }}"
                src="//speakerdeck.com/assets/embed.js">
            </script>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            {% if page.joindin %}
            <p>
            Read and write reviews for this talk! <a href="https://joind.in/talk/{{ page.joindin }}">
                <img src="/assets/images/joindin-logo.png" alt="Joindin logo" height="25px" width="100px" />
            </a>
            </p>
            {% endif %}

            <ul class="pager blog-pager">
                {% if page.previous_talk %}
                <li class="previous">
                    <a href="{{ page.previous_talk.url }}" data-toggle="tooltip" data-placement="top" title="{{ page.previous_talk.title }}">&larr; Previous Talk</a>
                </li>
                {% endif %}
                {% if page.next_talk %}
                <li class="next">
                    <a href="{{ page.next_talk.url }}" data-toggle="tooltip" data-placement="top" title="{{ page.next_talk.title }}">Next Talk &rarr;</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% block content '' %}
{% endblock %}
