<div id="aboutme-section">
    <p class="about-text">
        <span class="fa fa-briefcase about-icon"></span>
        Currently <strong>Developer</strong> at <a href="https://www.coverd.co/">Coverd</a> & <strong>CTO</strong> at <a href="https://www.shapin.tv">Shapin'</a>.<br />
        Former employee at <a href="https://www.blablacar.fr" target="_blank">BlaBlaCar</a>, <a href="https://sensiolabs.com" target="_blank">SensioLabs</a>, <a href="http://www.lafourchette.com/" target="_blank">La Fourchette</a>, ...
    </p>

    <p class="about-text">
        <span class="fa fa-code about-icon"></span>
        I enjoy writing <strong>useful &amp; reusable software tools</strong> to help others (and myself!) — check out <a href="https://github.com/odolbeau">my github page</a>. I'm also proud to be a member of the <a href="http://afup.org">AFUP</a>, the French PHP users association.
    </p>

    <p class="about-text">
        <span class="fa fa-heart about-icon"></span>
        I enjoy <strong>travelling</strong>, <strong>sailing</strong>, <strong>walking</strong>. I also read <strong>books</strong> and attend <strong>concerts</strong>.
    </p>

    <p class="about-text">
        <span class="fa fa-bullhorn about-icon"></span>
        I enjoy speaking about code, architecture and so on! Either in <a href="/talks">conferences</a> or around a beer!
    </p>

    <p class="about-text">
        <span class="fa fa-beer about-icon"></span>
        Even if I really enjoy sharing online, I prefer sharing offline, particularly if we can discuss around a <strong>beer</strong>!
    </p>
</div>
