<h1>A few words...</h1>

<p>
When I'm not chilling in bars or attending concerts, I work for <a href="https://www.blablacar.fr">BlaBlaCar</a> as a web architect after a few years on the development side.
</p>

<p>
ElasticSearch fan, RabbitMQ lover, I try to contribute as much as possible in open source.
</p>

<h1> ...waiting for more!</h1>

<p>
I don't have much too say! :o<br />
Let's keep in touch. :)
</p>
